langchain>=0.3.20
langchain-openai>=0.3.7
langchain-community>=0.3.19
langgraph>=0.3.5
chromadb>=0.6.3
rank-bm25>=0.2.2
duckduckgo-search>=7.5.0
ddgs>=9.0.0
python-dotenv>=1.0.1
tiktoken>=0.9.0
pypdf>=5.4.0
google-api-python-client>=2.169.0
google-auth>=2.40.1
google-auth-httplib2>=0.2.0
google-auth-oauthlib>=1.2.2
